body{
    background-color: grey;
}

.login-container {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.box-container {
   background-color: rgb(237, 237, 41);
   position: absolute;
   box-shadow:  0 10px 20px 0 rgba(8, 8, 8, 0.5);
   padding: 10px;
   width: 35%;
   height: 35%;
   align-items: center;
   top: 30%;
   border-radius: 10px;
   display: flex;
   justify-content: center;  
 }

 .login-form {
    width: 50%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

input {
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: larger;
}

button {
    padding: 5px;
    margin: 5px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}

#invalid-login {
    color: red;
    display: none;   
}


